@tailwind base;

@layer base {
  :root,
  .light {
    --background: 0 0% 100%;
    --foreground: 225 10% 5%;

    --card: 0 0% 100%;
    --card-foreground: 225 10% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 225 10% 5%;

    --primary: 225 80% 55%;
    --primary-foreground: 0 0% 98%;

    --secondary: 225 6% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 225 5% 95.9%;
    --muted-foreground: 225 4% 46.1%;

    --accent: 225 5% 95.9%;
    --accent-foreground: 225 6% 10%;

    --destructive: 0 64% 32%;
    --destructive-foreground: 0 0% 98%;

    --border: 225 6% 90%;
    --input: 225 6% 90%;
    --ring: 225 6% 10%;
    --link: 225 100% 50%;

    --radius: 0.75rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 225 10% 12%;
    --foreground: 0 0% 98%;

    --card: 225 10% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 225 10% 9%;
    --popover-foreground: 0 0% 98%;

    --primary: 225 100% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 225 0% 98%;
    --secondary-foreground: 0 10% 10%;

    --muted: 225 5% 16%;
    --muted-foreground: 225 5% 64%;

    --accent: 225 5% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 64% 32%;
    --destructive-foreground: 0 0% 98%;

    --border: 225 5% 24%;
    --input: 225 5% 32%;
    --ring: 225 5% 80%;
    --link: 225 100% 72%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
