@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: 0 0% 100%;
    --foreground: 225 10% 5%;

    --card: 0 0% 100%;
    --card-foreground: 225 10% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 225 10% 5%;

    --primary: 225 80% 55%;
    --primary-foreground: 210 40% 95%;

    --secondary: 225 5% 15%;
    --secondary-foreground: 0 0% 95%;

    --muted: 225 5% 95%;
    --muted-foreground: 225 3.8% 45%;

    --accent: 225 5% 95%;
    --accent-foreground: 225 5% 10%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 95%;

    --link: 225 75% 75%;
    --border: 225 32% 90%;
    --input: 225 32% 90%;
    --ring: 225 80% 55%;

    --radius: 0.66rem;
  }

  .dark {
    --background: 225 10% 15%;
    --foreground: 0 0% 95%;

    --card: 225 10% 25%;
    --card-foreground: 0 0% 95%;

    --popover: 225 10% 25%;
    --popover-foreground: 0 0% 95%;

    --primary: 225 80% 55%;
    --primary-foreground: 210 40% 95%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 225 5% 15%;

    --muted: 225 5% 55%;
    --muted-foreground: 225 5% 75%;

    --accent: 225 5% 20%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 60% 30%;
    --destructive-foreground: 0 0% 95%;

    --border: 225 10% 32%;
    --input: 225 32% 75%;
    --ring: 225 80% 55%;
  }
}
